<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div>
        <img src="../../assets/logo.png" class="horseCenter"/></div>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu2">
        <mat-icon>account_circle</mat-icon>
      </button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item (click)="logout()">
            <span >Logout</span>
          </button>
        </mat-menu>
      <p>{{username}}</p>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Centre Equestre</h1>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a (click)="goToFunct(nav)" mat-list-item routerLink="." *ngFor="let nav of fillerNav"><mat-icon style="padding-right: 20px">{{nav.icon}}</mat-icon>{{nav.text}}<mat-divider></mat-divider></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <h1 class="example-app-name">{{fillerContent.text}}</h1>  
      <mat-tab-group class="demo-tab-group" #tabGroup [(selectedIndex)]="selectedTab">
        <mat-tab label="Tab_1" #tab1 *ngIf="disableTab1 == true">
          <ng-template mat-tab-label>
            <mat-icon>featured_play_list</mat-icon>
          </ng-template>
          <div class="demo-tab-content">
            <div *ngIf="fillerContent.text == 'Accueil'">
              <mat-grid-list [cols]="(tabletQuery.matches && mobileQuery.matches) ? '1' : tabletQuery.matches ? '2' : '3' "
          [rowHeight]="(tabletQuery.matches && mobileQuery.matches) ? '400' : tabletQuery.matches ? '400' : '400'">
                <p *ngFor="let service of fillerNav; let i = index">
                  <mat-grid-tile>
                    <app-panel-acceuil [service]="service" (selected)="goToFunct($event)"></app-panel-acceuil>
                  </mat-grid-tile>
                </p>
              </mat-grid-list>
            </div>
            <div *ngIf="fillerContent.text == 'Informations utilisateur'">
              <app-user-info [data]="data" (retrieveUser)="get($event, fillerContent.text)" (modificationUser)="put($event, fillerContent.text)" (modificationMdp)="put($event, fillerContent.text)"></app-user-info>
            </div>
            <div *ngIf="fillerContent.text == 'Gestion des utilisateurs'">
              <app-panel-liste [typePanel]="fillerContent.text" (getAllObject)="getAll(fillerContent.text)" (deleteObject)="del($event, fillerContent.text)" (putObject)="put($event, fillerContent.text)" (retrieveObject)="get($event, fillerContent.text)"  [data]="data" [data2]="data2" [data3]="data3"></app-panel-liste>
            </div>
            <div *ngIf="fillerContent.text == 'Gestion des Administateur'">
              <app-panel-liste [typePanel]="fillerContent.text" (getAllObject)="getAll(fillerContent.text)" (deleteObject)="del($event, 'Gestion des utilisateurs')" (putObject)="put($event, 'Gestion des utilisateurs')" (retrieveObject)="get($event, 'Gestion des utilisateurs')"  [data]="data" [data2]="data2" [data3]="data3"></app-panel-liste>
            </div>
            <div *ngIf="fillerContent.text == 'Gestion des chevaux'">
              <app-panel-liste [typePanel]="fillerContent.text" (getAllObject)="getAll(fillerContent.text)" (deleteObject)="del($event, fillerContent.text)" (putObject)="put($event, fillerContent.text)" (retrieveObject)="get($event, fillerContent.text)" [data]="data" [data2]="data2" [data3]="data3"></app-panel-liste>
            </div>
            <div *ngIf="fillerContent.text == 'Gestion des cours'">
              <app-panel-liste [typePanel]="fillerContent.text" (getAllObject)="getAll(fillerContent.text)" (deleteObject)="del($event, fillerContent.text)" (putObject)="put($event, fillerContent.text)" (retrieveObject)="get($event, fillerContent.text)" [data]="data" [data2]="data2" [data3]="data3"></app-panel-liste>
            </div>
            <div *ngIf="fillerContent.text == 'Planning de cours'">
              <div *ngIf="this.user.role == 'cavalier'">
                <app-planning-list [typePanel]="fillerContent.text" (getAllObject)="getAll(fillerContent.text)" (inscriptionCour)="post($event, fillerContent.text)" (desinscriptionCour)="del($event, fillerContent.text)" [data]="data" [data2]="data2"></app-planning-list>
              </div>
              <div *ngIf="this.user.role == 'moniteur'">
                <app-panel-planning [typePanel]="fillerContent.text" (getCourUser)="getCours($event, fillerContent.text)" (getListEleve)="getListEleve($event, fillerContent.text)" (getAllObject)="getAll(fillerContent.text)" (formulaireAddChevaux)="post($event, 'Gestion des chevaux')" (addChevauxToCavalier)="put($event, fillerContent.text)" [planning]="planning" [planning2]="planning2" [data]="data"></app-panel-planning>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Tab_2" #tab2 *ngIf="disableTab2 == false">
          <ng-template mat-tab-label>
              <mat-icon>add_box</mat-icon>
          </ng-template>
          <div class="demo-tab-content">
            <div *ngIf="fillerContent.text == 'Gestion des utilisateurs'">
              <app-panel-create [typePanel]="fillerContent.text" (formulaireAjout)="post($event, fillerContent.text)"></app-panel-create>
            </div>
            <div *ngIf="fillerContent.text == 'Gestion des Administateur'">
              <app-panel-create [typePanel]="'Gestion des utilisateurs'" (formulaireAjout)="post($event, 'Gestion des utilisateurs')"></app-panel-create>
            </div>
            <div *ngIf="fillerContent.text == 'Gestion des chevaux'">
              <app-panel-create [typePanel]="fillerContent.text" (formulaireAjout)="post($event, fillerContent.text)"></app-panel-create>
            </div>
            <div *ngIf="fillerContent.text == 'Gestion des cours'">
              <app-panel-create [typePanel]="fillerContent.text" (formulaireAjout)="post($event, fillerContent.text)"></app-panel-create>
            </div>
            <div *ngIf="fillerContent.text == 'Planning de cours'">
              <div *ngIf="this.user.role == 'cavalier'">
                <app-panel-planning [typePanel]="fillerContent.text" (getCourUser)="getCours($event, fillerContent.text)" [planning]="planning" [tabCourCheval]="tabCourCheval"></app-panel-planning>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>