<div *ngIf="user.role == 'cavalier'">
  <div *ngFor="let plan of tabCourCheval">
    <mat-toolbar color="primary">
      <span>{{plan.titre}} <br/>
        {{plan.dateCours}}
      </span>
      <span class="example-spacer"></span>
      <span>{{plan.horaire}}</span>
    </mat-toolbar>
    <br/>
    Moniteur: {{plan.moniteur}} <br/>
    Niveau: {{plan.niveau}} <br/>
    <div *ngFor="let horse of planning">
      <div *ngIf="plan.id==horse.idCour">
        Cheval: {{horse.cheval}}<br/>
      </div>
    </div>
  </div>
</div>
<div *ngIf="user.role == 'moniteur'">
  <div *ngFor="let plan of planning">
    <mat-toolbar color="primary">
      <span>{{plan.titre}} <br/>
        {{plan.dateCours}}
      </span>
      <span class="example-spacer"></span>
      <span>{{plan.horaire}}</span>
    </mat-toolbar>
    <br/>
    Moniteur: {{plan.moniteur}} <br/>
    Niveau: {{plan.niveau}} <br/>
    <div *ngFor="let student of planning2">
      <div *ngIf="plan.id==student.idCour">
        {{student.cavalier}}: 
        <mat-form-field>
          <mat-label>Selectionner le cheval</mat-label>
          <mat-select [(ngModel)]="student.cheval">
            <mat-option [value]="cheval.nom" *ngFor="let cheval of data">{{cheval.nom}}</mat-option>
          </mat-select>
        </mat-form-field><br/>
      </div>
    </div>
    <button mat-button (click)="openDialogCheval()" color="accent">Pas assez de chevaux?</button><br/>
    <button mat-raised-button color="primary" (click)="validation(planning2)">Valider</button><br/><br/>
  </div>
</div>

