.example-header-image {
    background-image: url('../../assets/IconInscription.jpg');
    background-size: cover;
}

.example-card {
    max-width: 400px;
    margin-left:200px;
    margin-top:2%;
}

.example-para{
    white-space: normal;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}
  