<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <div *ngIf="typePanel == 'Planning de cours' && isData==true">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="titre">
          <mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.titre}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dateCours}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="horaire">
          <mat-header-cell *matHeaderCellDef> Horaire </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.horaire}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="nbrCavalier">
          <mat-header-cell *matHeaderCellDef> Nombres d'élèves </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nbrCavalier}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="niveau">
          <mat-header-cell *matHeaderCellDef> niveau/galop </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.niveau}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="moniteur">
          <mat-header-cell *matHeaderCellDef> Moniteur </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.moniteur}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ratio">
          <mat-header-cell *matHeaderCellDef> Ratio de cavalier </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ratio}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="inscription">
          <mat-header-cell *matHeaderCellDef> Inscription </mat-header-cell>
          <mat-cell *matCellDef="let element"><button type="button" mat-raised-button color="primary" (click)="inscripton(element)"> {{element.inscription}}</button></mat-cell>
        </ng-container>
        <ng-container matColumnDef="desinscription">
          <mat-header-cell *matHeaderCellDef> Desinscription </mat-header-cell>
          <mat-cell *matCellDef="let element"><button type="button" mat-raised-button color="warn" (click)="desinscription(element)"> {{element.desinscription}}</button></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsCour"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsCour;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>